html,
body,
main {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Jost", monospace;
  color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  background: none;
  color: inherit;
  font-size: inherit;
  width: fit-content;
  border: none;
  -moz-appearance: textfield; /* Firefox */
}

footer {
  position: fixed;
  bottom: 1em;
  left: 1em;
}

.second-row {
  display: inline-block;
}

#y-display {
  margin-right: 1em;
}

#pseudocode,
#pseudocode-show {
  position: fixed;
  top: 1em;
  left: 1em;
}

#pseudocode {
  visibility: hidden;
  padding: 1em;
}

#pseudocode-content {
  padding-left: 0.3em;
  padding-right: 0.3em;
}

button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  border-radius: 0.3em;
  padding: 0.4em 0.4em 0.1em 0.4em;
}

button:hover {
  background-color: white;
  color: black;
}
