html,
body,
main {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Noto Sans Mono", monospace;
  color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  background: none;
  color: inherit;
  font-size: inherit;
  width: fit-content;
  border: none;
  -moz-appearance: textfield; /* Firefox */
}

footer {
  position: fixed;
  bottom: 0.4em;
  left: 0.4em;
}

.second-row {
  margin-right: 0.3em;
  display: inline-block;
}

.shaded {
  background-color: rgb(37, 37, 37);
  border-radius: 0.4em;
  padding: 0.3em 0.6em;
}

#pseudocode,
#pseudocode-button {
  position: fixed;
  top: 0.4em;
  left: 0.4em;
}

#pseudocode-button,
#pseudocode-back {
  background-color: rgba(0, 0, 0, 0);
}

#pseudocode-button:hover,
#pseudocode-back:hover {
  text-decoration: underline;
}

#pseudocode {
  visibility: hidden;
  padding: 1em;
}

#pseudocode-content {
  padding-left: 0.3em;
  padding-right: 0.3em;
}

#f-display {
  margin: 0.6em;
}

button {
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

button.shaded {
  border-radius: 0.3em;
}

button.shaded:hover {
  background-color: white;
  color: black;
}
