html,
body,
main {
  margin: 0;
  padding: 0;
  height: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  background: none;
  color: inherit;
  font-size: inherit;
  width: fit-content;
  border: none;
  -moz-appearance: textfield; /* Firefox */
}

footer {
  background-color: rgba(255, 255, 255, 0.15);
  padding: 0.35em;
  border-radius: 0.4em;
  color: white;
  position: fixed;
  font-size: large;
  bottom: 0.4em;
  left: 0.4em;
  font-family: "Source Code Pro", monospace;
}

#pInput {
  margin-right: 1em;
}
